---
import { getCollection } from "astro:content";
import BlogCard from "../components/BlogCard.astro";
import Layout from "../layouts/Layout.astro";

// Get all blog posts and sort them by date
const allPosts = await getCollection("blog");
const sortedPosts = allPosts.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout>
  <section>
    <div class="mb-8">
      <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold">
        Welcome to my Blog
      </h1>
      <p class="text-foreground/80 mt-2 text-sm sm:text-base">
        Personal blog where I share my experiences and journey through life.
      </p>
    </div>

    <div>
      <div class="space-y-6">
        {sortedPosts.map((post) => <BlogCard post={post} />)}
      </div>
    </div>
  </section>
</Layout>
