---
const year = new Date().getFullYear();
---

<footer>
  <div class="mb-2">
    <a href="/" class="hover:text-accent">Home</a>
    <span class="px-2">•</span>
    <a href="/tags" class="hover:text-accent">Tags</a>
    <span class="px-2">•</span>
    <a href="/about" class="hover:text-accent">About</a>
  </div>
  <div class="text-foreground/70 text-sm">
    &copy; {year} Aiden Hadisi. All rights reserved.
  </div>
</footer>
