---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Aiden's Blog",
  description = "Personal blog where I share my expericnes and journey through life.",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="icon" href="/logo.png" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main class="mx-auto max-w-5xl px-4 py-8">
      <slot />
    </main>
    <Footer />
  </body>
</html>
